body {
  background-color: #ffffff;
font-family: sans-serif;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    color: cornflowerblue;
    text-align: center;
}

h2 {
    color:blanchedalmond;
}

img {
    width: 210px
}
